<html>
<head>
  <title>cr http</title>
  <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>

  <div class="root-wrapper">
    <%= content %>
  </div>

  <script src="/js/main.js"></script>
</body>
</html>